<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/user.css">

  <style>
    img{
      margin-right: 20px;
    }
    .block{
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); 
      margin: 5px;
    }
  </style>
</head>
<body>
  <header>
    <div class="user-card">
      <div class="image-container">
        <img src="/assets/user.png" alt="" width="300px">
      </div>
      <div class="user-info">
          <h1><%= user.name %></h1>
          <p>Email: <%= user.email %></p>
          <p>User created at: <%= user.created_at %></p>
          <p>Number of quizzed user pass: <%= user.quizzPassedNb %></p>
          <p>Most Quiz Language user pass: <%= user.mostPassedLanguage %></p>
      </div>
      <div>
          <form onsubmit="return confirm('Are you sure you want to delete this user?');">
          <button style="background-color: red;" type="submit">Delete</button>
        </form>
      </div>
    </div>
</header>
<section>
  <% for (let i = 0; i < user.quizzes.length; i++) { %>
      <h2><%= user.quizzes[i].language %></h2>

      <div class="s-container">
        <% var x = Object.keys(user.quizzes[i].quizz) %>
        <% for (let j = 0; j < x.length; ++j) { %>
        <div class="block">
        <% for (let w = 0; w < user.quizzes[i].quizz[x[j]].length; ++w) { %>
          <% var c = user.quizzes[i].quizz[x[j]][w] %>
          <div class="quiz-container <%= c.is_correct ? 'correctQuiz' : 'wrongQuiz' %>">
            <p><b>Question:</b> <%= c.quiz %></p>
          <p><b>List Of Answers</b></p>
    
          <div class="answers-list">
            <% for (let z = 0; z < c.answers.length; ++z) { %>
              <li><%= c.answers[z] %></li>
            <% }%>
          </div>
    
          <div class="correct_answer">
            <p><b>Correct Answer:</b> <%= c.correct_answer %></p>
          </div>
    
          <div class="user_answer">
            <p><b>User Answer:</b> <%= c.user_answer %></p>
          </div>
          
        </div>
        <% }%>
        </div>
        <% } %>

      </div>

  <% }%>
</section>
</body>
</html>